body {
    background:black
}
h3{
    font-size: xx-large;
}
p, label{
    color: white
}
section{
    padding-left: 10rem;
    padding-top: 10rem;
}
code{
    border-color: black;
}
.pln, h3{
    color:lemonchiffon;
}
.kwd{
    color: blue;
}
.str{
    color: brown;
}
.com{
    color: darkgreen;
}
section.code{
    padding-right: 160px;
}
.pun{
    color: blueviolet;
}